:root {
    --page-1-color: steelblue;
    --page-2-color: tan;
    --page-3-color: teal;
    --span-color: #e65c00;
    --animate-speed: 2s;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to top, 
    #757f9a, #d7dde8);
    height: 100%;
}
/* Utility */

.span {
    color: var(--span-color);
}

/* Particles */
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

/* General styling */
.page {

    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
}


.page #first {
    align-items: center;
    font-size: 2rem;
    line-height: 1.2;
    color: #000;
    margin: 1rem;
    border: 1px solid grey;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 3px #8e9eab;
    background-image: linear-gradient(to left, #757F9A , #D7DDE8);
}

.page #second {
    font-size: 5rem;
    line-height: 1.2;
    margin: 1rem;
    border: 1px solid grey;
    padding: 2rem 5rem;
    border-radius: 5px;
    color: #000;
    box-shadow: 3px 3px 10px 3px #8e9eab;
    background-image: linear-gradient(to left, #8e9eab , #eef2f3);
}

.page #third {
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
    border: 1px solid grey;
    padding: 2rem 5rem;
    border-radius: 5px;
    color: #000;
    box-shadow: 3px 3px 10px 3px #8e9eab;
    background-image: linear-gradient(to left, #8e9eab , #eef2f3);
}

.page {
    font-size: 1.3rem;
}

/* First page */

#page-1 #first h2 {
    padding: 0;
    margin: auto;
    font-size: 2rem;
}

#page-1 #first h2 {
    font-size: 4rem;
}

#page-1 #second {
    font-size: 2.5rem;
}

#page-1 #third {
    font-size: 3rem;
}

/* Second page */

#page-2 #first h2 {
    padding: 0;
    margin: auto;
    font-size: 2rem;
}

#page-2 #first  {
    min-width: auto;
    min-height: auto;
    font-size: 1.5rem;
}

#page-2 #second {
    max-width: 70%;
    max-height: 50%;
    font-size: 1.5rem;
    padding-bottom: 50px;
}

#flex {
    display: flex;
    justify-content: space-around;
}

section .last {
    width: 60%;
    height: 25%;
}

/* Third Page */

#flex-3 {
    display: inline-block;
}

#page-3 #first h2 {
    padding: 0;
    margin: auto;
    font-size: 2rem;
}

#page-3 #third {
    font-size: 2rem;
    height: 50%;
}

#page-3 #third h1 {
    font-size: 2.5rem;
}

/* Page Animation */

#page-1 h1 {
    transform: translateY(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

/* Keyframes */
@keyframes heading {
    to {
        transform: translateY(0);
    }
}

#page-1 h3 {
    transform: translateX(-1800px);
    animation: paragraph var(--animate-speed) forwards ease-in;
}

@keyframes paragraph {
    to {
        transform: translateX(0);
    }
} 
.transition-fade {
    transition: 1000ms;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(-100px);
}

/* buttons */
.btn {
    text-decoration: none;
    color: #000;
}



