:root {
    --page-1-color: steelblue;
    --page-2-color: tan;
    --page-3-color: teal;
    --page-4-color: slateblue;
    --animate-speed: 2s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #283048 , #859398);
}

/* Particles */
#particles-js {
    position: absolute;
}


.page {
    position: absolute;
    left: 32%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
}


.page h1 {
    font-size: 5rem;
    line-height: 1.2;
    margin: 1rem;
    border: 1px solid grey;
    padding: 2rem 5rem;
    border-radius: 5px;
    color: #000;
    box-shadow: 3px 3px 10px 3px #8e9eab;
    background-image: linear-gradient(to left, #8e9eab , #eef2f3);
}

.page h3 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
    border: 1px solid grey;
    padding: 2rem 5rem;
    border-radius: 5px;
    color: #000;
    box-shadow: 3px 3px 10px 3px #8e9eab;
    background-image: linear-gradient(to left, #8e9eab , #eef2f3);
}

.page h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin: 1rem;
    border: 1px dotted grey;
    padding: 2rem;
    border-radius: 5px;
    color: #000;
    box-shadow: 3px 3px 10px 3px #8e9eab;
    background-image: linear-gradient(to left, #757F9A , #D7DDE8);
}

.page {
    font-size: 1.3rem;
}



/* Page Animation */

/* #page-1 h1 {
    transform: translateY(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
} */

/* Keyframes */
/* @keyframes heading {
    to {
        transform: translateY(0);
    }
}

#page-1 h3 {
    transform: translateX(-1800px);
    animation: paragraph var(--animate-speed) forwards ease-in;
}

@keyframes paragraph {
    to {
        transform: translateX(0);
    }
} */
.transition-fade {
    transition: 1000ms;
    opacity: 1;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateY(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}


