.u-center-text {
  text-align: center;
}

// margins
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

// paddings
.u-padding-small {
  padding: 2rem;
}

.u-padding-medium {
  padding: 4rem;
}

.u-padding-big {
  padding: 8rem;
}
