.row {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.row-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  .col-1-of-4 {
    width: 30rem;
  }
}

.row-3 {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 6rem;
  margin: auto;
}

.row-4 {
  display: flex;
  flex-direction: column;
}
