.container2 {
    max-width: 1280px;
    height: 100%;
    margin: auto;
    overflow: hidden;
    padding-top: 3%;
}

.container {
    max-width: 1280px;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

// variables
$main-color: #f1f3f6;
$secondary-color: #404040;
$third-color: #666666;
$forth-color: #d9d9d9;
